.login-input {
    border-width: 0px;
    border-radius: 5px;
    width: 319px;
    outline: 0px;
    padding: 10px;
    color: #4B84F1;
}

.login-form-div label {
    margin-bottom: 6px;
}

.login-form-input-div {
    display: flex;
    border-color: #4B84F1;
    border-width: px;
    border-style: solid;
    border-radius: 8px;
    height: 45px;
    width: 319px;
}

.login-form-div {
    display: flex;
    flex-direction: column;
    color: #8F9090;
    font-family: 'Roboto';
    padding: 0px 18px;
}

#login-button {
    font-family: "Roboto";
    color: white;
    border: 0px;
    background-color: #A5C2F8;
    border-radius: 16px;
    width: 321px;
    height: 45px;
    padding: 15px;
}

#login-button:hover {
    background-color: #4B84F1;
}

#login-form-div-buttom {
    margin-top: 10px;

}

#login-form {
    height: 250px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}

#login-body {
    margin: auto;
    display: flex;
    height: 100%;
    max-height: 500px;
    width: 90%;
    min-width: 360px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#login-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 43px;
}

#login-header-h2 {
    width: 274px;
}

#logo_sus {
    align-self: flex-end;
    height: 77px;
    width: 140px;
}

#logo_susc {
    margin-top: 5%;
    height: 35px;
    width: 120px;
}

#login-header-h2 {
    font-family: "Gotham Black";
    font-style: italic;
    font-size: 18px;
    ;
    color: black;
}

#logo_gov {
    height: 56px;
    width: 170px;
}

#login-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 43px;
}

#show-pswd {
    outline: 0px;
    border: none;
    margin: auto 10px;
    width: 20px;
    height: 14px;
    background-color: white;
    background-image: url("../imagens/pswd_desmarcado.png");
    background-size: cover;
}


#login-body {
    height: 50%;
    max-height: 640px;
    max-width: 360;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Seção laudos */

#body-laudos {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#header-laudos {
    background-color: #1863ede3;
    padding: 1px 0;
    width: 100%;
    height: 6%
}

#header-laudos-h2 {
    color: aliceblue;
    font-size: 25px;
    font-family: "Gotham Black";
}

#logo-laudo {
    height: 45px;
    width: 110px;
    margin-left: 20px;
    margin-top: px;
    position: absolute;
}

#simb-perfil {
    height: 45px;
    width: 45px;
    position: absolute;
    margin-left: 1450px;
}

.registros {
    background-color: #1863ede3;
    color: aliceblue;
    width: 550px;
    max-width: 280px;
    height: 350px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
}

@font-face {
    font-family: "Gotham Black";
    src: url(../imagens/gotham-black.otf) format("opentype");
}

#tipo-consulta {
    font-size: 22px;
    font-family: "Gotham Black";
    text-align: center;
}

#r1 {
    position: absolute;
    margin-left: 175px;
    margin-top: 150px;
}

#r2 {
    position: absolute;
    margin-left: 635px;
    margin-top: 150px;
}

#r3 {
    position: absolute;
    margin-left: 1090px;
    margin-top: 150px;
}

.linha-vertical {
    border-left: 2px solid black;
    height: 400px;
}

#linha1 {
    position: absolute;
    left: 530px;
    bottom: 150px;
}

#linha2 {
    position: absolute;
    left: 990px;
    bottom: 150px;
}

.info-laudos {
    font-size: 18px;
    text-align: center;
    font-family: "Gotham Black";
}

/* seção pag inicial */

#body-inicial {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
}

#header-inicial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #1863ede3;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#logosus {
    align-self: flex-start;
    height: 50px;
    gap: 20px;
}

#logogov {
    align-self: flex-start;
    height: 50px;
    gap: 20px;
}
 
#perfil-foto {
    height: 50px;
    align-self: flex-end;
    cursor: pointer;
}    
 
#main-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

.unidades-proximas {
    padding: 80px 110px;
    font-size: 26px;
    background-color: #1863ede3;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
}

.divider {
    width: 80%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.bottom-buttons {
    display: flex;
    justify-content: space-around;
    width: 80%;
    gap: 10px;
}

.bottom-buttons button {
    padding: 60px 70px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    background-color: #1863ede3;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    flex: 1;
    max-width: 200px;
}
